
.App {
    padding: 100px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.filter-input-view {
    display: grid;
    grid-template-columns: 40fr 60fr;
}

.filter-input-view img {
    width: 60%;
}

.filter-input-view .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-result-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.filter-result-view img {
    width: 50%;
}

.hide {
    display: none;
}

.result-info p {
    letter-spacing: 0.7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputs input {
    outline: none;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    color: rgb(61, 61, 61);
    border-width: 1px;
    padding: 14px;
    border-radius: 12px;
}

.btn,
.btn:link {
    padding: 20px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    background-color: #008ae6;
    color: white;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
}

.btn:hover,
.btn:active {
    background-color: #0045e6;
}

.error {
    color: red;
    text-align: center;
}