
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2 {
  color: rgb(64, 64, 64);
}

.margin-bottom-md {
  margin-bottom: 68px;
}